{
	"singleQuote": false,
	"jsxSingleQuote": false,
	"printWidth": 120,
	"semi": true,
	"trailingComma": "none",
	"plugins": ["prettier-plugin-astro", "prettier-plugin-sh"],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		},
		{
			"files": "*.code-workspace",
			"options": {
				"parser": "json"
			}
		},
		{
			"files": ".prettierrc",
			"options": {
				"parser": "json"
			}
		}
	]
}
