---
import Base from "@/layouts/Base.astro";
import Title from "@/components/atoms/Title";
import { css } from "@/styled-system/css";
import type { Lang } from "@/define";
import { i18n } from "@/libs/i18n";
import { getText } from "@/libs/getI18n";

interface Props {
	lang?: Lang;
}

const { lang = "ja" } = Astro.props;
const { translateData } = await i18n(lang);
---

<Base title={getText(translateData, "contact_pageTitle")} lang={lang}>
	<div
		class={css`
			display: flex;
			flex-direction: column;
			gap: 30px;
		`}
	>
		<Title>{getText(translateData, "contact_title")}</Title>
		<div>
			<iframe
				class={css`
					width: 100%;
					height: 1000px;
				`}
				src="https://docs.google.com/forms/d/e/1FAIpQLSfLI8zc_8L5piTSaO0inQwAsKCDikgfaUKcF8a9eA6WhSZSCA/viewform?embedded=true"
			>
				Loading…
			</iframe>
		</div>
	</div>
</Base>
