---
import Base from "@/layouts/Base.astro";
import type { DotIllust, DotIllustTag } from "@/types";
import { getCachedContents } from "@/libs/microcms";
import Page from "./_page";

const dots = await getCachedContents<DotIllust>("dot");
const tags = await getCachedContents<DotIllustTag>("tags");
---

<Base>
	<div data-pagefind-ignore>
		<Page dots={dots} tags={tags} client:load />
	</div>
</Base>
