---
import Base from "@/layouts/Base.astro";
import List from "@/components/templates/List";
import type { DotIllust } from "@/types";
import { getCachedContents } from "@/libs/microcms";

const dots = await getCachedContents<DotIllust>("dot");
---

<Base>
	<div data-pagefind-ignore>
		<List title="ドット絵一覧" dots={dots} client:load />
	</div>
</Base>
