<div class="turnstile">
	<div class="cf-turnstile" data-sitekey="0x4AAAAAAAf4PWyOE5H1Y8EE" data-callback="turnstileCallback"></div>
</div>

<style>
	.turnstile {
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 900;
		transform: translateX(100%);
		animation-name: fadein;
		animation-duration: 500ms;
		animation-delay: 500ms;
		animation-timing-function: ease-out;
		animation-fill-mode: forwards;
	}

	@keyframes fadein {
		0% {
			transform: translateX(100%);
		}

		100% {
			transform: translateX(0);
		}
	}

	@keyframes fadeout {
		0% {
			transform: translateX(0);
		}

		100% {
			transform: translateX(100%);
		}
	}
</style>

<script is:inline>
	window.turnstileCallback = () => {
		const element = document.querySelector(".turnstile");
		console.log(element);
		if (element !== null) {
			setTimeout(() => {
				element.style.transform = "translateX(0)";
				element.style.animationName = "fadeout";
			}, 2000);
		}
	};
</script>
