@font-face {
	font-family: "DotGothic16";
	src: url(/DotGothic16-Regular.ttf);
	font-display: swap;
}

@font-face {
	font-family: "BestTenCRT";
	src: url("https://r2.aki.wtf/BestTen-CRT.otf");
	font-display: swap;
}

* {
	font-family: "DotGothic16", sans-serif;
	font-size: 17px;
	color: #363636;
	word-wrap: break-word;
	overflow-wrap: break-word;
	word-break: break-word;
	border: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
	overflow: hidden;
}

body {
	background-color: #f3eee5;
}

a {
	color: #1976d2;

	* {
		color: inherit;
	}
}

p {
	line-height: 1.8;
}

li {
	line-height: 1.8;
}

strong {
	font-weight: bold;
}
