---
import Base from "@/layouts/Base.astro";
import List from "@/components/templates/List";
import type { DotIllust } from "@/types";
import { getCachedContents } from "@/libs/microcms";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async ({ paginate }) => {
	const response = await getCachedContents<DotIllust>("dot");

	return paginate(response, { pageSize: 30 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Base notFound={page.currentPage === 1}>
	<div data-pagefind-ignore>
		<List
			title="ドット絵一覧"
			dots={page.data}
			currentPage={page.currentPage}
			lastPage={page.lastPage}
			baseURl="/page/"
			client:load
		/>
	</div>
</Base>
