---
import Base from "@/layouts/Base.astro";
import type { DotIllust } from "@/types";
import { getCachedContents } from "@/libs/microcms";
import type { GetStaticPaths } from "astro";
import Page from "./_page";

export const getStaticPaths = (async ({ paginate }) => {
	const response = await getCachedContents<DotIllust>("dot");

	return paginate(response, { pageSize: 30 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Base>
	<div data-pagefind-ignore>
		<Page page={page} client:load />
	</div>
</Base>
